.Sidebar {
  height: calc(100vh - var(--navbar-heaigt));
  width: 300px;
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.25s;
}
.collapsed {
  width: var(--sidebar-width-collapsed);
}
