.app.dark {
  --bg-color: #210e67;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #f6f4f9;
  --secondary-color: #ecebee;
  --inverted-primary-color: #6406f0;
  --inverted-secondary-color: #915ef8;
}
